__pycache__/
*.pyc
.venv/
whisper/*
!whisper/.locks
!whisper/.locks/**
!whisper/models--facebook--nllb-200-distilled-600M/.no_exist/**
!whisper/tiny.pt
!whisper/medium.pt
!whisper/large-v3-turbo.pt
!whisper/models--facebook--nllb-200-distilled-600M/.no_exist
!whisper/models--facebook--nllb-200-distilled-600M/refs/**